.button {
  user-select: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 3px;
  height: 28px;
  padding: 6px 8px;
  border-radius: 6px;
  font-family: var(--elegance-font-family);
  font-size: 12px;
}

.button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.filled {
  color: rgba(255, 255, 255, 0.81);
  background-color: rgb(25, 25, 25);
  border: 1px solid rgba(255, 255, 255, 0.13);
}

.filled:disabled {
  background-color: rgb(200, 200, 200);
  color: rgba(0, 0, 0, 0.38);
  border-color: transparent;
}

.outline {
  color: rgba(0, 0, 0, 0.81);
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.13);
}

.outline:disabled {
  color: rgba(0, 0, 0, 0.38);
  border-color: rgba(0, 0, 0, 0.12);
}

.text {
  user-select: auto;
  color: rgba(0, 0, 0, 0.81);
  background-color: transparent;
  border: none;
  padding: 0;
  height: auto;
}

.text:disabled {
  color: rgba(0, 0, 0, 0.38);
}
