.button {
  user-select: none;
  cursor: pointer;
  border-radius: 6px;
  height: 28px;
  padding: 6px 8px;
  font-size: 12px;
  border: 1px solid rgba(255, 255, 255, 0.13);
  color: rgba(255, 255, 255, 0.81);
  background-color: rgb(25, 25, 25);
  font-family: var(--elegance-font-family);
}
