.button {
  user-select: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 3px;
  padding: var(--button-padding-y) var(--button-padding-x);
  border-radius: 6px;
  font-family: var(--elegance-font-family);
  font-size: var(--button-font-size);

  svg {
    width: var(--button-icon-size);
    height: var(--button-icon-size);
    flex-shrink: 0;
  }
}

.button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

/* #region variants */
.variant_filled {
  color: rgba(255, 255, 255, 0.81);
  background-color: rgb(25, 25, 25);
  border: 1px solid rgba(255, 255, 255, 0.13);
}

.variant_filled:disabled {
  background-color: rgb(200, 200, 200);
  color: rgba(0, 0, 0, 0.38);
  border-color: transparent;
}

.variant_outline {
  color: rgba(0, 0, 0, 0.81);
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.13);
}

.variant_outline:disabled {
  color: rgba(0, 0, 0, 0.38);
  border-color: rgba(0, 0, 0, 0.12);
}

.variant_text {
  user-select: auto;
  color: rgba(0, 0, 0, 0.81);
  background-color: transparent;
  border: none;
  padding: 0;
  height: auto;
}

.variant_text:disabled {
  color: rgba(0, 0, 0, 0.38);
}
/* #endregion */

/* #region sizes */
.size_xxs {
  --button-padding-x: 6px;
  --button-padding-y: 2px;
  --button-font-size: 11px;
  --button-icon-size: 0.9rem;
}

.size_xs {
  --button-padding-x: 8px;
  --button-padding-y: 4px;
  --button-font-size: 12px;
  --button-icon-size: 1rem;
}

.size_sm {
  --button-padding-x: 12px;
  --button-padding-y: 6px;
  --button-font-size: 14px;
  --button-icon-size: 1.1rem;
}

.size_md {
  --button-padding-x: 16px;
  --button-padding-y: 8px;
  --button-font-size: 16px;
  --button-icon-size: 1.2rem;
}

.size_lg {
  --button-padding-x: 20px;
  --button-padding-y: 10px;
  --button-font-size: 18px;
  --button-icon-size: 1.4rem;
}

.size_xl {
  --button-padding-x: 24px;
  --button-padding-y: 12px;
  --button-font-size: 20px;
  --button-icon-size: 1.6rem;
}

.size_xxl {
  --button-padding-x: 32px;
  --button-padding-y: 16px;
  --button-font-size: 24px;
  --button-icon-size: 1.9rem;
}
/* #endregion */
